{% extends 'core/base.html' %}

{% block title %}
    {% include 'core/components/titulo1.html' with titulo="Cliente" %}
{% endblock title %}

{% block content %}
<div class="row">
    {% for cliente in clientes %}
        <div class="col-md-6">
            <div class="card my-3">
                <div class="card-body">
                    <h2 class="card-title">{{ cliente.nombre }} {{ cliente.apellido }}</h2>
                    <p class="card-text">Fecha de nacimiento: {{ cliente.nacimiento }}</p>
                    <p class="card-text">País de origen: {{ cliente.pais_origen_id }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}

{% block content1 %}

    <div class="fs-3 pb-4 ">
        <a href="{% url 'cliente:cliente_create' %}">Crear Clientes</a>

    </div>

    <ul>
        {% for cliente in clientes %}<li>{{ cliente }}</li>{% endfor %}
    </ul>
    
    {# <a href="{% url 'core:home' %}">Ir a home</a> #}
    
{% endblock content1 %}