{% extends 'core/base.html' %}
{% load static %}


{% block title %}
    {% include 'core/components/titulo1.html' with titulo="App Coder" %}
{% endblock title %}

{% block content %}
    <!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/nextfilm.webp' %}" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">Catálogo de películas</h1>
        <p>Descubre un mundo de emociones con NextFilm, donde cada película es una puerta a nuevas aventuras. Con un catálogo vasto y variado, encontrarás desde clásicos atemporales hasta los estrenos más recientes. Sumérgete en historias que te transportarán a lugares inimaginables, todo desde la comodidad de tu hogar.</p>
        <a class="btn btn-primary" href="#!">Ir al Catálogo</a>
    </div>
</div>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    {% include 'core/components/card.html' with titulo="Acción" texto="romociones" %}
    {% include 'core/components/card.html' with titulo="Aventura" texto="" %}
    {% include 'core/components/card.html' with titulo="Policiales" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Documentales" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Fantasía" texto="Promociones" %}
    {% include 'core/components/card.html' with titulo="Deportes" texto="Promociones" %}
</div>
{% endblock content %}

